{{#if headerIcon}}
    <div style="font-size: {{iconSize}}; margin-bottom: 24px;">
        {{{headerIcon}}}
    </div>
{{/if}}

<h1 style="margin: 16px 0 12px; font-size: 28px; font-family: 'Urbanist', sans-serif; font-weight: 600;">
    {{headerTitle}}
</h1>

{{#if headerSubtitle}}
    <p style="margin: 0; opacity: 0.9; font-family: 'Urbanist', sans-serif; font-size: 16px;">
        {{headerSubtitle}}
    </p>
{{/if}} 